:root{
    --main-color: rgb(230, 230, 230);
    --secondary-color: rgb(173, 173, 173);
}


/*scrollbar*/

::-webkit-scrollbar-track{
    background-color: grey;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(196, 190, 190);
}

/*imagem frontal*/

/*barras laterais*/

.leftBar{
    background-image: linear-gradient(to left,var(--main-color),var(--secondary-color));
}
.rightBar{
    background-image: linear-gradient(to right,var(--main-color),var(--secondary-color));
}
/*texto*/

section{
    background-color: var(--main-color);
}

section > p{
    box-shadow: 0px 0px 15px 0px grey;
}

section > h2{
    background-image: linear-gradient(to left, var(--main-color) 25%,var(--secondary-color), var(--main-color) 75%);
    color: rgb(22, 22, 22);
}

section > img{
    box-shadow: 0px 0px 15px 0px grey;
}

#introducao > h2 {
    background-image: linear-gradient(to left, var(--main-color) 25%, var(--secondary-color), var(--main-color) 75%);
}
